

  <div class="container">
    <div class="row">
      <div class="<col-md-12></col-md-12>">
        <h2 class="text-center">Ingresar Datos</h2> <br>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">

        <label>Número</label> <br>
        <input class="form-control" value="<%= @user.number %>" type="text" disabled>

        <%= render 'form' %>

        <br>
        <% if admin_signed_in? %>
          <label>Estado</label> <br>
          <input class="form-control" value="<%= @user.state %>" type="text" disabled>
          <br>

          <%= link_to "Confirmar", confirmar_path(@user) %> |
          <%= link_to "Cancelar", cancelar_path(@user)  %> |

        <% end %>

        <%= link_to "Volver", root_path %>

      </div>
      <div class="col-md-3"></div>
    </div>

  </div>
